.filter{
    padding: 5%;
}
.MuiDrawer-paper{
    width: 20vw;
    box-sizing: border-box;
    position: sticky;
    float: left;
    min-height:100vh;
    background-color: #0a0e13;
    color: #00c8c8;
    }

.selected{
    background: #000;
}

.side-list{
    /* text-decoration: none; */
    padding: 0;
    list-style: none;
}


@media screen and (max-width: 720px) {
    .MuiDrawer-paper{
        width: 100vw;
        max-height: 5rem;
        min-height: auto;

        position: relative;
        overflow: auto;
    }

}