*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

a img{
    padding-left: 16px;

}

.navbar{
    height: 80px;
    background-color: #111;
    border-bottom: 1px solid #252c32;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
    margin-right: 1%;
}

#navbarNav{
    background-color: #111;
    z-index: 1300;
}

.navbar-text{
    gap: 1rem;
    display: inline-flex;
}