
.RewardsStartEarning {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;

}

.text {
    display: flex;
    width: 40%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.text .title {
    font-weight: bold;
    padding-bottom: 11px;
    line-height: 1.2em;
    font-size: 3em;
}

.RewardsStartEarning .text .body {
    font-size: 1.3rem;
    line-height: 1.5em;
}

.RewardsStartEarning .image img {
    max-width: 100%;
}

@media screen and (max-width: 720px) {
    .RewardsStartEarning {
        flex-direction: column-reverse;
    }
    .text .title {
        font-weight: bold;
        padding-bottom: 11px;
        line-height: 1em;
        font-size: 1.6em;
    }
    .text{
    width: 65%;

    }
}