.header {
    border-bottom: solid 1px #252c32;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.8rem 0;
    padding: 1rem 0 1.3rem 0;
}

.home-content {
    display: flex;
    flex-direction: row;
}

.content-list {
    position: relative;
    width: 50%;
}

.content-list:first-child {
    padding-right: calc(24px / 2);
}

.HomeContentBlock {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #fff;
}
.content-type {
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
    color: #8fa3b0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.title {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.thumbnail {
    position: relative;
}

.background {
    background-position: center center;
    background-size: 100% auto;
    flex-shrink: 0;
    position: relative;
    height: auto;
    z-index: 0;
    
}
@media (min-width: 721px) and (max-width: 1075px) {
    .background {
        height: auto;
        width: 100%;
    }
}

.background:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 56.25%;
}

.thumbnail:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0%,#000 100%);
    opacity: .3;
    z-index: 1;
}

.duration {
    position: absolute;
    bottom: 12px;
    right: 16px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 #000;
    z-index: 2;
}