body{
    /* overflow-y: scroll; */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    color: #FFE;
    box-sizing: border-box;
    margin: 0;
    line-height: 1.3125em;
    font-family: 'Colfax',Helvetica,sans-serif;
    font-size: 1.6rem;
}

.container{
    margin: 0;
    padding: 0;

}

.filter{
    padding: 5%;
}

.content {
    width: 100vw;
    height: 100vh;
    margin-left: 20vw;  
    left: 0;
    padding: 5%;
    background-color: #0f1519;
}

.with-out{
    margin-left: 0;
}